body {
    background-color: black;
    color: lime;
    font-family: monospace;
    margin: 0;
    padding: 20px;
}

#terminal {
    width: 100%;
    max-width: 800px;
    margin: auto;
    background: #111;
    padding: 10px;
    border-radius: 5px;
}

#output {
    min-height: 300px;
    overflow-y: auto;
}

.prompt {
    color: rgb(0, 85, 255);
    font-weight: bold;
}
.s {
    color: #ff1100; font-weight: bold;
}

.prompt .s { top: 30%;}

#input-line {
    display: flex;
}

#command {
    background: transparent;
    border: none;
    color: #efffef;
    outline: none;
    font-family: monospace;
    width: 100%;
}
